/* button {
  border-radius: 5px;
} */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  margin: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.imgStyle {
  width: 100%;
  height: 600px;
}

.listStyle {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  padding: 10px;
  width: 320px;
}
.titleStyle {
  text-transform: uppercase;
}
.js-computer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.js-planshet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.js-mobile {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
