/* button {
  border-radius: 5px;
} */

.button {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.imgStyle {
  width: 320px;
}

.listStyle {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.titleStyle {
  text-transform: uppercase;
}
.js-cat {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 30px;
}
